ul {
    list-style: none;
}

.companies-title {
    text-align: center;
    padding-bottom: 1em;
}

.input-holder {
    margin-bottom: 1em;
}

.companies-list-holder {
    text-align: center;
}

.companies {
    text-align: center;
    border: 1px solid blue;
    padding: .5em;
    margin-bottom: .5em;
}

.not-replied {
    background-color: red;
    height: 25px;
    width: 25px;
    margin-left: 1em;
}

.have-replied {
    background-color: green; 
    height: 25px;
    width: 25px;
    margin-left: 1em;
}

.add-company-btn {
    height: 30px;
}